.breadcrumb{
    padding-left: 0;
    margin-bottom: 0;
    background-color: transparent;
    margin: 30px 0;
    a{
        color: $cyan;
        &:hover{
            color: $primary;
        }
    }
    &-item {
        & + .breadcrumb-item{
            &:before{
                content: '-';
                color:$primary;
            }
        }
        &.active{
            color: $dark;
        }
    }
    
}