.min-height-420{
    min-height: 420px;
}

.overflow-hidden{
    overflow: hidden;
}

.inline-list{
    list-style: none;
    padding-left: 0;
    padding-bottom: 0;
}

img{
    width: 100%;
    max-width: 100%;
}

.listing{
    list-style:none;
    padding-left: 0;
    margin-bottom: 0;
    li{
        &+li{
            margin-top: 15px;
        }
        &::before{
            content: '\f105';
            font-family: 'FontAwesome';
            color: $primary;
            margin-right: 10px;
        }
        &+li{
            margin-top: 17px
        }
        span{
            float: right;
            color: $cyan;
        }
    }
}
/***страница продукта**/
.border-white{
    border:15px solid white
}

.title-to-small-cards{
    background-color: white;
    padding: 20px;
    border:1px solid $gray-400
}

/******/

@mixin placeholder{
    &.placeholder{@content;}
    &::-webkit-input-placeholder{@content;}
    &:-moz-placeholder{@content;}
}

.banner-wrapper{
    input{
        @include placeholder{
        color:$gray-800
        }
    }
}
    

